@import "variables";
@import "mixins";

.browser-support{

	.supported {
		background-color: #dff0d8 !important;
	}

	.not-supported {
		background-color: #ebccd1 !important;
	}

	.partial-support{
		background-color: #faebcc !important;
	}
}
