.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  margin: 0 auto;
  max-height: 500px;
  //height: 500px;
}

.carousel-caption{
  background: rgba(0, 0, 0, 0.60);
  @include border-radius(10px);
}

#tver-carousel {
  margin-top: 50px;
}