@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin mediaMobile {
	@media only screen and (max-width: 767px) {
		@content;
	}
}

@mixin mediaTableDeviceWidth {
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		@content;
	}
}

@mixin mediaTablet {
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
		@content;
	}
}

@mixin mediaDesktop {
	@media only screen and (min-width: 1024px) {
		@content;
	}
}

@mixin mediaTabletDesktop {
	@media only screen and (min-width: 768px) {
		@content;
	}
}

@mixin mediaMobileTablet {
	@media only screen and (max-width: 1023px) {
		@content;
	}
}