//no css

// -------------------------
$blueGrey:              #9ab0ba !default;
$purple:                #7a43b6 !default;
$blueDark:              #0064cd !default;
$blue:                  #049cdb !default;
$green:                 #46a546 !default;
$red:                   #ed1c24 !default;
$redDarker:             #b11116 !default;
$yellow:                #fff200 !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$white:                 #fff    !default;
$black:					rgb(51, 51, 51)!default;


//http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
$vk: 					#36638e !default;
$facebook: 				#3B5998 !default;
$googlePlus:			#d34836 !default;
$instagram:				#517fa4 !default;
$pinterest:				#cb2027 !default;
$twitter:				#00aced !default;
