//no css

// -------------------------
$blueGrey:              #9ab0ba !default;
$purple:                #7a43b6 !default;
$blueDark:              #0064cd !default;
$blue:                  #049cdb !default;
$green:                 #46a546 !default;
$red:                   #ed1c24 !default;
$redDarker:             #b11116 !default;
$yellow:                #fff200 !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$white:                 #fff    !default;
