.row
    .bs-callout.bs-callout-danger
        h2 Синтаксис
        p.lead Все запросы начинаются с правила @media, после чего следует условие, в котором используются типы носителей, логические операторы и медиа-функции.

    .bs-callout.bs-callout-info
        h2 Типы носителей:
        br
        p
            strong.mixin-code all
            |  Все типы. Это значение используется по умолчанию.
        br
        p
            strong.mixin-code braille
            |  Устройства, основанные на системе Брайля, которые предназначены для чтения слепыми людьми.
        br
        p
            strong.mixin-code embossed
            |  Принтеры, использующие для печати систему Брайля.
        br
        p
            strong.mixin-code handheld
            |  Смартфоны и аналогичные им аппараты.
        br
        p
            strong.mixin-code print
            |  Принтеры и другие печатающие устройства.
        br
        p
            strong.mixin-code projection
            |  Проекторы.
        br
        p
            strong.mixin-code screen
            |  Экран монитора.
        br
        p
            strong.mixin-code speech
            |  Речевые синтезаторы, а также программы для воспроизведения текста вслух. Сюда, например, можно отнести речевые браузеры.
        br
        p
            strong.mixin-code tty
            |  Устройства с фиксированным размером символов (телетайпы, терминалы, устройства с ограничениями дисплея).
        br
        p
            strong.mixin-code tv
            |  Телевизоры.