extends layouts/layout

block header-block
    include pageBlocks/environment/header

block content
    include pageBlocks/environment/nodeJsBlock
    include pageBlocks/environment/gruntBlock
    include pageBlocks/environment/jadeBlock
    include pageBlocks/environment/sassJade
    hr.featurette-divider
    include mainBlocks/questions
    hr.featurette-divider
