extends layouts/layout

block content
	.jumbotron
		h1 Практическое задание
		h2.text-muted Пример решения
	canvas#canvas(width="600",height="400", style="margin:auto; display:block;border: 1px solid red;")
		a(href="http://www.updateyourbrowser.net/") Update your browser!