extends layouts/layout

block content
	.jumbotron
		h1 Практическое задание
		h2.text-muted Пример решения
	.jumbotron
		canvas#canvas(width=800,height=400)
			a(href="http://www.updateyourbrowser.net/") Update your browser!