extends layouts/layout
block header-block
	include pageBlocks/home/header
	include pageBlocks/carousel/carousel

block content
	include pageBlocks/home/homeMain
	include pageBlocks/home/4photos
	hr.featurette-divider