extends layouts/layout

block header-block
	include mainBlocks/header
	include pageBlocks/responsive/parallaxBlock
	.jumbotron
		h1 Media queries!
		h2.text-muted медиа-запросы и sass
block content
	include pageBlocks/mediaQueries/mediaCode
	hr.featurette-divider
	include pageBlocks/mediaQueries/definition3
	hr.featurette-divider
	include pageBlocks/mediaQueries/definition
	hr.featurette-divider
	include pageBlocks/mediaQueries/definition2
	hr.featurette-divider
	include pageBlocks/mediaQueries/table
	hr.featurette-divider

	include mainBlocks/responviseBrowserSupport
	.jumbotron
		p
			a.btn.btn-lg.btn-success(href="thanks" role="button") Спасибо!

	script(type="text/javascript", src="lib/parallax/jquery.parallax.min.js")
	script $('#scene').parallax();