extends layouts/layout
block header-block
    include mainBlocks/header
    include pageBlocks/responsive/parallaxBlock
    .jumbotron
        h1 Основные принципы!

block content
    include pageBlocks/responsivePrincipas/main
    include pageBlocks/responsivePrincipas/mobileFirst
    include pageBlocks/responsivePrincipas/structure

    script(type="text/javascript", src="lib/parallax/jquery.parallax.min.js")
    script $('#scene').parallax();