extends layouts/layout

block header-block
    include pageBlocks/home/header

block content
    include pageBlocks/twoWays/main
    hr.featurette-divider
    include mainBlocks/questions
    hr.featurette-divider