.jumbotron
	h1 Почему именно они?

	ul(style="text-align:left; margin-top: 25px")
		li
			p Во-первых, они ничем не уступают html и css.
		li
			p Во-вторых, в каждой из этих технологий есть полезные "фичи", позволяющие работать более эффективно.
				| Различные mixin, include, import, наследование и другие.
		li
			p В-третьих синтаксис гораздно проще, удобнее и миниатюрнее своих классических аналогов.
	p
		a.btn.btn-lg.btn-success(href="jade" role="button") Подробнее