.jumbotron.cat-background.cat3
	h1 Первое что нужно определить - это технологии.
	h2.text-muted Иммено те, которые будут помогать нам сделать работу эффективной.

	p Я предлагаю вашему вниманию - довольно новые framework'и  - sass и jade