include contentHeader
include ../../pageBlocks/environment/jadeBlock
include ../../pageBlocks/environment/sassJade
include beacouseBlock
hr.featurette-divider
include ../../pageBlocks/home/4photos
hr.featurette-divider