.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  margin: 0 auto;
  max-height: 500px; }

.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.page-content {
  margin-top: 50px; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 350px; } }

@media only screen and (max-width: 767px) {
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 310px; } }

.jumbotron {
  text-align: center; }

.questions {
  text-align: center; }
  .questions h2 {
    font-size: 148px; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .questions h2 {
    font-size: 100px; } }

@media only screen and (max-width: 767px) {
  .questions h2 {
    font-size: 50px; } }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px; }
