.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  margin: 0 auto;
  max-height: 500px; }

.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.carousel {
  margin-top: 50px;
  border-bottom: 1px solid; }

.page-content {
  margin-top: 50px; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 350px; } }

@media only screen and (max-width: 767px) {
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 310px; } }

.jumbotron {
  text-align: center;
  background-color: #fff; }

.cat-background {
  border: 1px solid #9ab0ba;
  background-repeat: no-repeat;
  background-position: 100%; }

.cat1 {
  background-image: url(../images/cats/ex1.png); }

.cat2 {
  background-image: url(../images/cats/ex2.png); }

.cat3 {
  background-image: url(../images/cats/ex3.png); }

.capabilities {
  max-width: 600px;
  margin: auto; }

.featurette.container {
  text-align: center; }
  .featurette.container img {
    margin: auto; }

.parallax-bg {
  background: url(../images/parallax/homebg.jpg) center top;
  overflow: hidden;
  border-bottom: 1px solid; }
  .parallax-bg p {
    color: #b11116; }
  .parallax-bg h1 {
    color: #7a43b6; }

.questions {
  text-align: center; }
  .questions h2 {
    font-size: 118px; }
  .questions img {
    margin: auto; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .questions h2 {
    font-size: 90px; } }

@media only screen and (max-width: 767px) {
  .questions h2 {
    font-size: 50px; } }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px; }

.browser-support .supported {
  background-color: #46a546;
  background-image: -webkit-linear-gradient(top, #009933 0, #006600 100%);
  background-image: linear-gradient(to bottom, #009933 0, #006600 100%);
  background-repeat: repeat-x;
  border: 1px solid #9ab0ba; }
.browser-support .not-supported {
  background-image: -webkit-linear-gradient(top, #d9534f 0, #c12e2a 100%);
  background-image: linear-gradient(to bottom, #d9534f 0, #c12e2a 100%);
  background-repeat: repeat-x;
  border-color: #b11116; }
.browser-support .partial-support {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0, #eb9316 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0, #eb9316 100%);
  background-repeat: repeat-x;
  border-color: #e38d13; }

.nyan-cat {
  position: fixed;
  background-image: url(../images/cats/poptartFINALTINY.gif);
  background-repeat: no-repeat;
  width: 51px;
  height: 20px;
  z-index: 10000; }
