.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  margin: 0 auto;
  max-height: 500px; }

.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.carousel {
  margin-top: 50px;
  border-bottom: 1px solid; }

.page-content {
  margin-top: 50px; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 350px; } }

@media only screen and (max-width: 767px) {
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 310px; } }

.jumbotron {
  text-align: center;
  background-color: #fff; }

.cat-background {
  border: 1px solid #9ab0ba;
  background-repeat: no-repeat;
  background-position: 100%; }

.cat1 {
  background-image: url(../images/cats/ex1.png); }

.cat2 {
  background-image: url(../images/cats/ex2.png); }

.cat3 {
  background-image: url(../images/cats/ex3.png); }

.featurette.container {
  text-align: center; }
  .featurette.container img {
    margin: auto; }

.parallax-bg {
  background: url(../images/parallax/homebg.jpg) center top;
  overflow: hidden;
  border-bottom: 1px solid; }
  .parallax-bg p {
    color: #b11116; }
  .parallax-bg h1 {
    color: #7a43b6; }

.mixin-code {
  color: #049cdb; }

.media-code {
  color: #0064cd; }

.value-code {
  color: #7a43b6; }

.px-code {
  color: #46a546; }

.def-code {
  color: #f89406; }

.alert-content-example {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #F00; }

.cancel-content-example {
  display: block;
  font-size: 20px;
  text-decoration: none;
  border: solid 1px #999; }

.extend-class-example, .extended-class-example, .extended-class-example2, .extended-class-example1 {
  background-color: red; }

.extended-class-example, .extended-class-example2 {
  float: left; }

.extended-class-example1 {
  background-color: #000000; }

.extended-class-example2 {
  width: 100%; }
