.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  margin: 0 auto;
  max-height: 500px; }

.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.carousel {
  margin-top: 50px;
  border-bottom: 1px solid; }

.page-content {
  margin-top: 50px; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 350px; } }

@media only screen and (max-width: 767px) {
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 310px; } }

.jumbotron {
  text-align: center;
  background-color: #fff; }
