meta(http-equiv="Content-Language")
meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
meta(name="format-detection", content="telephone=no")
meta(name="keywords", content="Тестовый проект")
meta(name="description", content="Тестовый проект")
meta(name="viewport", content="width=device-width")
title Test jade poject

//link(rel="shortcut icon",href="images/favicon.ico)

link(media="all", rel="stylesheet", type="text/css", href='lib/bootstrap-3.1.1-dist/css/bootstrap.min.css')
link(media="all", rel="stylesheet", type="text/css", href='lib/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css')
link(media="all", rel="stylesheet", type="text/css", href='lib/lightbox/css/lightbox.css')
link(media="all", rel="stylesheet", type="text/css", href='lib/bootstrap-3.1.1-dist/css/docs.min.css')

link(media="all", rel="stylesheet", type="text/css", href='css/common.css')

script(type="text/javascript", src="lib/jquery/jquery-1.11.1.js")
script(type="text/javascript", src="lib/bootstrap-3.1.1-dist/js/bootstrap.min.js")
script(type="text/javascript", src="lib/lightbox/js/lightbox.min.js")

script(type="text/javascript", src="js/scripts.js")