.jumbotron
	h2 Поддержка браузерами медиа-запросов
	h2.text-muted  Media queries support

.table-responsive.browser-support
	table.table.table-striped
		thead
			tr
				th.first
				th.ie IE
				th.firefox Firefox
				th.chrome Chrome
				th.safari Safari
				th.opera Opera
				th.ios_saf iOS Safari
				th.op_mini Opera Mini
				th.android Android Browser
				th.bb Blackberry Browser
				th.op_mob Opera Mobile
				th.and_chr Chrome for Android
				th.and_ff Firefox for Android
				th.ie_mob IE Mobile
		tbody
			tr
				th 30 versions back
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.supported(title='Supported') 4.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 29 versions back
				td.unknown(title='Unknown')
				td.not-supported(title='Not supported') 2.0
				td.supported(title='Supported') 5.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 28 versions back
				td.unknown(title='Unknown')
				td.not-supported(title='Not supported') 3.0
				td.supported(title='Supported') 6.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 27 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 3.5
				td.supported(title='Supported') 7.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 26 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 3.6
				td.supported(title='Supported') 8.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 25 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 4.0
				td.supported(title='Supported') 9.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 24 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 5.0
				td.supported(title='Supported') 10.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 23 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 6.0
				td.supported(title='Supported') 11.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 22 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 7.0
				td.supported(title='Supported') 12.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 21 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 8.0
				td.supported(title='Supported') 13.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 20 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 9.0
				td.supported(title='Supported') 14.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 19 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 10.0
				td.supported(title='Supported') 15.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 18 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 11.0
				td.supported(title='Supported') 16.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 17 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 12.0
				td.supported(title='Supported') 17.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 16 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 13.0
				td.supported(title='Supported') 18.0
				td.unknown(title='Unknown')
				td.not-supported(title='Not supported') 9.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 15 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 14.0
				td.supported(title='Supported') 19.0
				td.unknown(title='Unknown')
				td.supported(title='Supported') 9.5-9.6
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 14 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 15.0
				td.supported(title='Supported') 20.0
				td.unknown(title='Unknown')
				td.supported(title='Supported') 10.0-10.1
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 13 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 16.0
				td.supported(title='Supported') 21.0
				td.unknown(title='Unknown')
				td.supported(title='Supported') 10.5
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 12 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 17.0
				td.supported(title='Supported') 22.0
				td.unknown(title='Unknown')
				td.supported(title='Supported') 10.6
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 11 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 18.0
				td.supported(title='Supported') 23.0
				td.unknown(title='Unknown')
				td.supported(title='Supported') 11.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 10 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 19.0
				td.supported(title='Supported') 24.0
				td.unknown(title='Unknown')
				td.supported(title='Supported') 11.1
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 9 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 20.0
				td.supported(title='Supported') 25.0
				td.unknown(title='Unknown')
				td.supported(title='Supported') 11.5
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 8 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 21.0
				td.supported(title='Supported') 26.0
				td.unknown(title='Unknown')
				td.supported(title='Supported') 11.6
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 7 versions back
				td.unknown(title='Unknown')
				td.supported(title='Supported') 22.0
				td.supported(title='Supported') 27.0
				td.partial-support(title='Partial support') 3.1
				td.supported(title='Supported') 12.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.supported(title='Supported') 2.1
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 6 versions back
				td.not-supported(title='Not supported (but has polyfill available)') 5.5
				td.supported(title='Supported') 23.0
				td.supported(title='Supported') 28.0
				td.partial-support(title='Partial support') 3.2
				td.supported(title='Supported') 12.1
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.supported(title='Supported') 2.2
				td.unknown(title='Unknown')
				td.supported(title='Supported') 10.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 5 versions back
				td.not-supported(title='Not supported (but has polyfill available)') 6.0
				td.supported(title='Supported') 24.0
				td.supported(title='Supported') 29.0
				td.supported(title='Supported') 4.0
				td.supported(title='Supported') 15.0
				td.supported(title='Supported') 3.2
				td.unknown(title='Unknown')
				td.supported(title='Supported') 2.3
				td.unknown(title='Unknown')
				td.supported(title='Supported') 11.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 4 versions back
				td.not-supported(title='Not supported (but has polyfill available)') 7.0
				td.supported(title='Supported') 25.0
				td.supported(title='Supported') 30.0
				td.supported(title='Supported') 5.0
				td.supported(title='Supported') 16.0
				td.supported(title='Supported') 4.0-4.1
				td.unknown(title='Unknown')
				td.supported(title='Supported') 3.0
				td.unknown(title='Unknown')
				td.supported(title='Supported') 11.1
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 3 versions back
				td.not-supported(title='Not supported (but has polyfill available)') 8.0
				td.supported(title='Supported') 26.0
				td.supported(title='Supported') 31.0
				td.supported(title='Supported') 5.1
				td.supported(title='Supported') 17.0
				td.supported(title='Supported') 4.2-4.3
				td.unknown(title='Unknown')
				td.supported(title='Supported') 4.0
				td.unknown(title='Unknown')
				td.supported(title='Supported') 11.5
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 2 versions back
				td.supported(title='Supported') 9.0
				td.supported(title='Supported') 27.0
				td.supported(title='Supported') 32.0
				td.supported(title='Supported') 6.0
				td.supported(title='Supported') 18.0
				td.supported(title='Supported') 5.0-5.1
				td.unknown(title='Unknown')
				td.supported(title='Supported') 4.1
				td.unknown(title='Unknown')
				td.supported(title='Supported') 12.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th Previous version
				td.supported(title='Supported') 10.0
				td.supported(title='Supported') 28.0
				td.supported(title='Supported') 33.0
				td.supported(title='Supported') 6.1
				td.supported(title='Supported') 19.0
				td.supported(title='Supported') 6.0-6.1
				td.unknown(title='Unknown')
				td.supported(title='Supported') 4.2-4.3
				td.supported(title='Supported') 7.0
				td.supported(title='Supported') 12.1
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			trnow
				th Current
				td.supported(title='Supported') 11.0
				td.supported(title='Supported') 29.0
				td.supported(title='Supported') 34.0
				td.supported(title='Supported') 7.0
				td.supported(title='Supported') 20.0
				td.supported(title='Supported') 7.0
				td.supported(title='Supported') 5.0-7.0
				td.supported(title='Supported') 4.4
				td.supported(title='Supported') 10.0
				td.supported(title='Supported') 21.0
				td.supported(title='Supported') 33.0
				td.supported(title='Supported') 26.0
				td.supported(title='Supported') 10.0
			tr
				th Near future
				td.unknown(title='Unknown')
				td.supported(title='Supported') 30.0
				td.supported(title='Supported') 35.0
				td.unknown(title='Unknown')
				td.supported(title='Supported') 21.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th Farther future
				td.unknown(title='Unknown')
				td.supported(title='Supported') 31.0
				td.supported(title='Supported') 36.0
				td.unknown(title='Unknown')
				td.supported(title='Supported') 22.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
			tr
				th 3 versions ahead
				td.unknown(title='Unknown')
				td.supported(title='Supported') 32.0
				td.supported(title='Supported') 37.0
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')
				td.unknown(title='Unknown')

.row
	.jumbotron
		p Информация взята с http://caniuse.com/css-mediaqueries
		p.text-muted Method of applying styles based on media information. Includes things like page and device dimensions