hr.featurette-divider(id="mobileFirst")
.row.featurette
	.col-md-5
		img.featurette-image.img-responsive(data-src="holder.js/500x500/auto",alt="500x500",src="images/aba-06.png")
	.col-md-7
		h2.featurette-heading Сначала мобильные
			span.text-muted &nbspmibile first
		p.alert.alert-warning Говорим мы о мобильном вебе или об обычном, базовые принципы информационной архитектуры — правильная разметка кода, баланс ширины и глубины, основы поведения пользователя — остаются неизменными. Но для правильной организации взаимодействия с мобильным вебом также необходимо:
		.bs-callout.bs-callout-info
			h4 Хорошо понимать, как и почему люди используют мобильные устройства;
			p В книге Tapworthy («Куда следует нажимать») Джош Кларк уделил особое внимание трем основным поведенческим моделям владельцев мобильных устройств: «Микрозадачи», «Ориентирование на местности» и «Мне скучно». Эти модели практически совпадают с поведенческой классификацией, принятой в компании Google: «Мне это нужно срочно», «Я повторяю то, что часто делаю» и «Я делаю это, потому что мне больше нечем заняться».
		.bs-callout.bs-callout-info
			h4 Отдавать приоритет контенту перед навигацией;
			p Общее правило при разработке мобильных приложений гласит: контент всегда должен иметь приоритет над навигацией.За какой бы информацией люди ни приходили на ваш сайт — будь то новости, часто обновляющиеся данные о котировках ценных бумаг и результатах спортивных матчей, сведения местного характера или другие виды контента, — им нужен немедленный ответ: на то, чтобы изучать карту вашего сайта, у них просто нет времени.
		.bs-callout.bs-callout-info
			h4 Обеспечивать ясность и лаконичность контента.
			p Уменьшив число навигационных опций на экранах мобильных устройств и тем самым снизив вероятность, что пользователь, спеша выполнить задачу, нажмет не на ту кнопку, вы сможете предотвратить множество ошибок.