.jumbotron
	h1 Структура мобильного сайта

	.bs-callout.bs-callout-danger Проектируя&nbsp
		strong мобильный сайт
		|, продумайте, как совместить в дизайне особенности поведения владельцев мобильных устройств и их потребительские нужды.
	.bs-callout.bs-callout-warning Анализ основных способов взаимодействия (поиск, изучение/развлечение, проверка/статус и редактирование/создание) позволит понять, как владельцы мобильных устройств будут использовать ваш сайт, а значит, разработать структуру, соответствующую их потребностям.
	.bs-callout.bs-callout-warning Уделив внимание в первую очередь контенту и лишь потом навигации, вы предоставите посетителям возможность максимально быстро получить доступ к нужной информации или произвести необходимые действия.
	.bs-callout.bs-callout-warning Продуманное и правильно расположенное навигационное меню помогает пользователям более детально изучить содержание страницы и облегчает переход к другим разделам сайта.
	.bs-callout.bs-callout-warning Уменьшение числа навигационных опций и акцент на выполнение основных задач позволяют пользователям быстрее достигать поставленных целей. Это особенно важно, когда у них мало времени или они находятся не в самых удобных условиях.
	.bs-callout.bs-callout-warning Но даже если владелец мобильного устройства заходит на ваш сайт в свободное время, находясь у себя дома и удобно расположившись в кресле, будьте уверены: он по достоинству оценит простоту и функциональность вашего дизайна!

	.bs-callout.bs-callout-info Продуманная структура мобильного сайта позволяет пользователям быстро находить необходимую информацию. Отыскав ее, они начинают действовать.