.jumbotron
    h1 Первое что нужно определить - это технологии.
    h2.text-muted Иммено те, которые будут помогать нам сделать работу эффективной.

    p Я предлагаю вашему вниманию - довольно новые framework'и  - sass и jade

include ../../pageBlocks/environment/jadeBlock
include ../../pageBlocks/environment/sassJade

.jumbotron
    h2 Делема...
    h2.text-muted Выбрав технологии - нужно понять, как мы их будет эффективно использовать

    p Существует два подхода - первый довольно просто, быстрый, но не очень эффективный и очень не универсальный.
        | Второй же потребует более больше затрат для настройки, зато после сможет дать фору.

.col-md-6
    h2 Watch-files
    h2.text-muted plugin для IDE

.col-md-6
    h2 Node-js сервер и Grunt сборка
    h2.text-muted более интереснре решение
