ol.carousel-indicators
    li.active(data-target="#tver-carousel",data-slide-to="0")
    li(data-target="#tver-carousel",data-slide-to="1")
    li(data-target="#tver-carousel",data-slide-to="2")
    li(data-target="#tver-carousel",data-slide-to="3")