.bs-callout.bs-callout-info
	h4 Информация, которая помогла мне в создании данной презентации:
	| Прежде всего опыт на проекте. Книги "Mobile first", "Responsive web design"
	br
	p http://sass-lang.com/
	br
	p http://stackoverflow.com/questions/15492624/auto-compile-jade-in-webstorm-on-windows
	br
	p http://compass-style.org/install/
	br
	p http://www.nodebeginner.ru/
	br
	p http://habrahabr.ru/post/154755/
	br
	p https://www.npmjs.org/package/require-directory
	br
	p http://blog.jetbrains.com/webstorm/2013/12/using-compass-in-webstorm/
	br
	p http://nano.sapegin.ru/all/grunt-0-4
	br
	p http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
	br
	p http://css-tricks.com/sass-style-guide/
	br
	p http://pastie.org/6625624#49,176
	br
	p http://nodeguide.ru/doc/
	br
	p http://culttt.com/2013/11/18/setting-sass-grunt/