.bs-callout.bs-callout-info
	h4 Не изобретаем велосипед!
	| Responsove design не настолько молодой, чтобы все делать самому. Используйте уже созданные, проверенные фрэймворки.
	| Ниче приведен пример резиновой сетки bootstrap'a , который используется в нашей презентации. (http://getbootstrap.com/)

.bs-callout.bs-callout-info
	| В bootstrap'e изначально существует сетка из 12 частей, которой можно оперировать, комбинировать и использовать
.row
	.col-md-4 .col-md-4
	.col-md-4 .col-md-4
	.col-md-4 .col-md-4

.row
	.col-md-3 .col-md-3
	.col-md-6 .col-md-6
	.col-md-3 .col-md-3
.row
	.col-md-8 .col-md-8
	.col-md-4 .col-md-4

.row
	.col-md-8
		| .col-md-8
		.row
			.col-md-6 .col-md-6
			.col-md-6 .col-md-6
	.col-md-4 .col-md-4

.bs-callout.bs-callout-info
	| Так же в bootstrap-сетке предусмотрено 4ре класса, отвечающие за конкретные девайся, ими так же можно оперировать
	| xs (phones), sm (tablets), md (desktops), and lg (larger desktops).

.row
	.col-xs-12.col-md-8 .col-xs-12 .col-md-8
	.col-xs-6.col-md-4 .col-xs-6 .col-md-4
.row
	.col-xs-6.col-md-4 .col-xs-6 .col-md-4
	.col-xs-6.col-md-4 .col-xs-6 .col-md-4
	.col-xs-6.col-md-4 .col-xs-6 .col-md-4
.row
	.col-xs-6 .col-xs-6
	.col-xs-6 .col-xs-6
.row
	.col-xs-12.col-sm-6.col-lg-8 .col-xs-12 .col-sm-6 .col-lg-8
	.col-xs-6.col-lg-4 .col-xs-6 .col-lg-4
.row
	.col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
	.col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
	.col-xs-6.col-sm-4 .col-xs-6 .col-sm-4

.bs-callout.bs-callout-danger
	h4 Использование готовых фрэймворков - рекомендация
	| Использование готовых фрэйморвок это прежде всего рекомендация. Если необходимо сделать что-то более изысканное - то , конечно, придется писать собственно ручную сетку.






