.bs-callout.bs-callout-info
	h4 Гибкие изображения (flexible images)
	| Подстраивают свои размеры под блок родителя. Основная идея в неочевидном применении свойства { max-width: 100% }. Изображение с img { max-width: 100% } никогда не вылезет из своего блока-родителя.
	| Если блок-родитель меньше, чем размеры img, то изображение пропорционально уменьшится. Этот принцип применим как для img, так и для embed, object, video.
.bs-callout.bs-callout-danger
	h4 На деле это значит:
	| Это значит, что картинка или другой подобный ресурс должен занимать ровно столько, сколько он может.


.bs-callout.bs-callout-info
	h4 Гибкий макет на основе сетки (flexible, grid-based layout)
	| Основная идея — формула для вычисления пропорций в процентах «target / context = result».
	| Например, у нас есть макет psd с шириной 1000px. В нем есть два блока: один слева шириной 270px, другой справа 730px. Сверстаем мы их так:
	pre(style="text-align: left;")
		| .leftcolumn {
		|  width: 27%; /* 270px / 1000px = 0,27 */
		|  float: left;
		| }
	pre(style="text-align: left;")
		| rightcolumn {
		|  width: 73%; /* 730px / 1000px = 0,73 */
		|  float: right;
		| }
.bs-callout.bs-callout-danger
	h4 Как реально это понимать?
	| Да все просто, любой кусок должен заниматься ровно столько, сколько прописано в спеке на любом разрешении. Т.е. Занимает какую-то долю от пространства.

