.row
	.capabilities.bs-callout.bs-callout-info
		h2 Возможности
		ul
			li работает на клиентской стороне
			li отличная читабельность
			li гибкая система отступов
			li раскрытие блоков
			li примеси
			li статические инклюды
			li интерполяция в аттрибутах
			li из соображений безопасности по умолчанию все экранируется
			li
				| контекстные сообщения об ошибках как во время компиляции так и во время выполнения
			li утилита для компиляции jade в html из командной строки
			li
				| режим HTML5 (используйте doctype
				em !!! 5
				| )
			li кеширование в памяти (опционально)
			li комбинирование динамических и статических CSS-классов
			li
				| манипуляции с деревом парсинга через
				em filters
			li
				| поддержка
				a(href='http://express-js.ru') Express JS
				| “из коробки”
			li
				| прозрачный механизм итерации по объектам, массивам, и даже неисчислимым типам через
				code each
			li блочные комментарии
			li фильтры AST
			li
				| фильтры
				ul
					li
						| :sass - нужно установить
						a(href='http://github.com/visionmedia/sass.js') sass.js
					li
						| :less - нужно установить
						a(href='http://github.com/cloudhead/less.js') less.js
					li
						| :markdown - нужно установить
						a(href='http://github.com/evilstreak/markdown-js') markdown-js
						| или
						a(href='http://github.com/visionmedia/node-discount') node-discount
					li :cdata
					li
						| :coffeescript - нужно установить
						a(href='http://jashkenas.github.com/coffee-script/') coffee-script
			li
				a(href='https://github.com/digitaltoad/vim-jade') подсветка синтаксиса для Vim
			li
				a(href='http://github.com/miksago/jade-tmbundle') TextMate Bundle
			li
				a(href='http://tjholowaychuk.com/post/1004255394/jade-screencast-template-engine-for-nodejs') скринкасты
			li
				a(href='https://github.com/donpark/html2jade') html2jade конвертер