include contentHeader
include capabilities
.jumbotron
	h2 Как использовать все эти возможности?
	h2.text-muted Предлагаю рассмотреть на примере этого простенького "сайта-презентации"
	p
		|а дальше можно рассмотреть аналогичным образом sass
	p
		a.btn.btn-lg.btn-success(href="/sass" role="button") Sass
include ../../mainBlocks/questions