- var headerInfo = {header:'Grunt', span: ' система сборки для фронтенд-разработчиков'};
- var paragpaphs = "Grunt — это, по сути, планировщик задач. Grunt может делать все задачи (компиляция, конкатенация, минимизация и др.) за вас. Стоит лишь установить его, что, кстати, не так уж и сложно, и эти операции будут происходить автоматически, так, что вам про них даже не придётся вспоминать.Но, давайте посмотрим правде в глаза. Grunt — одна из тех новомодных штук, которой пользуются все эти крутые парни, но которая на первый взгляд выглядит странно и пугающе."

+rowFeaturetteRight("images/grunt.jpg",headerInfo,paragpaphs,"grunt-id")