- var headerInfo = {header:'Jade', span: '  template engine'};
- var paragpaphs = "Jade - это высокопроизводительный шаблонизатор, источником вдохновенья для создания которого послужил Haml. Jade реализован на JavaScript для node."

+rowFeaturetteLeft("images/jade.PNG",headerInfo,paragpaphs,"jade-id")