- var headerInfo = {header:'Sass', span: ' Syntactically Awesome Stylesheets'};
- var paragpaphs = "Sass (Syntactically Awesome Stylesheets) — модуль, включенный в Haml. Sass — это метаязык на основе CSS, предназначенный для увеличения уровня абстракции CSS кода и упрощения файлов каскадных таблиц стилей. Язык Sass имеет два синтаксиса: старый — sass — отличается отсутствием фигурных скобок, в нём вложенные элементы реализованы с помощью отступов; новый — SCSS (Sassy CSS) — использует фигурные скобки, как и сам CSS."

+rowFeaturetteRight("images/sass.jpg",headerInfo,paragpaphs,"sass-id")
