- var headerInfo = {header:'Отзывчивый дизайн', span: ' зачем?'};
- var paragpaphs = ["Интеллектуальная автоматическая подстройка контента и навигации под все модели мобильных устройств;","Отсутствие статичности. Это значит, что верстка ресурса выполнена не под определенное разрешение экрана, при котором более мелкие или крупные экраны будут отображать информацию некорректно, а будет гармонично подстраиваться под любой экран;","Нет необходимости создавать несколько различных версий сайта, которые подходили бы для планшетов, обычных персональных компьютеров, смартфонов и мобильных телефонов;","Не существует вероятности возникновения проблем с редиректом, которым подвержены мобильные версии."]

+rowFeaturetteLeftList("images/responsive-workflow.png",headerInfo,paragpaphs,"adaptee-id")