- var headerInfo = {header:'Этапы', span: ' делаем по-очереди'};
- var paragpaphs = ["Создаем прототипы страниц для различных разрешений экранов;", "Разрабатываем дизайн, с учем всех перемещений блоков, в зависимости от расширения экрана;","Верстаем адаптивный дизайн сайта (это один из наиболее важных этапов работы);", "Тестирование, perfectpixel", "Дальше интегрируем, если это какой-либо сервис, а не статический сайт"];

+rowFeaturetteRightList("images/img-adaptive.png",headerInfo,paragpaphs,"adaptee1-id")