.row.placeholders
	.col-xs-6.col-sm-3.placeholder
		img(data-src="holder.js/200x200/auto/sky",class="img-responsive img-circle",alt="200x200",src="images/cats/1.jpg")
		h4 NodeJs
		span.text-muted еще эффективнее
	.col-xs-6.col-sm-3.placeholder
		img(data-src="holder.js/200x200/auto/sky",class="img-responsive img-circle",alt="200x200",src="images/cats/2.jpg")
		h4 Grunt
		span.text-muted собираем быстро
	.col-xs-6.col-sm-3.placeholder
		img(data-src="holder.js/200x200/auto/sky",class="img-responsive img-circle",alt="200x200",src="images/cats/3.jpg")
		h4 Jade
		span.text-muted Верска проще
	.col-xs-6.col-sm-3.placeholder
		img(data-src="holder.js/200x200/auto/sky",class="img-responsive img-circle",alt="200x200",src="images/cats/4.jpg")
		h4 Sass
		span.text-muted стили удобнее