nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target=".navbar-collapse")
                span.sr-only Отзывчивый веб-дизайн
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#") Отзывчивый веб-дизайн
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                -var list = [{info:"sass",link:"sass"},{info:"jade",link:"jade"},{info:"Настройки окружения",link:"environment"}];
                +dropdown("home-header",list,"С чего начнем?")