.jumbotron
    h1 Добрый день!
    h2.text-muted Что нас ждет впереди?
    p.lead Этот проект был создан для того, чтобы показать и в некотором роде прорекламировать
        | отзывчивый дизайн. Сайт является презентацией и результатом работы технологий, которые мы затроним
        | в ходе презентации. Далее мы рассмотрим основные принципы responsive web-desing,
        | про которые я расскажу чуть позже
    p
        a.btn.btn-lg.btn-success(href="environment" role="button") Начнем?