head
    block headSection
        include ../mainBlocks/headSection
        include ../mainBlocks/mixins
body
    block main
        block header-block
            include ../mainBlocks/header
        block top-section-block

        .container
            .page-content
                block before-main-block
                block content

    block footer-block
        include ../mainBlocks/footer